<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" debug="false">
	<property name="LOG_FILE" value="/log/tomcat/myJOb/myJOb.error.log" />
	<property name="appName" value="console-font"/>
    <contextName>${appName}</contextName>
	<timestamp key="byDate" datePattern="yyyyMMdd" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
    </appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>${LOG_FILE}</file>
	    <append>true</append>
	    <immediateFlush>true</immediateFlush>
	    <encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
  	</appender>
	<logger name="org.springframework" level="INFO" additivity="true"></logger>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
